<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{traceId}]%msg%n</pattern>
        </encoder>
    </appender>

    　
    <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        　　　　　
        <file>logback.log</file>
        　　　　　
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            　　　　　　　　　
            <fileNamePattern>logback.log.%d{yyyy-MM-dd}</fileNamePattern>
            　　　　　　　　　
            <maxHistory>7</maxHistory>
            　　　　
        </rollingPolicy>
        　　　　　
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>　　　　　　　　　　　
        </encoder>
        　
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <!-- MDC使用 -->
            <pattern>%X{first} %X{last} - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="CONSOLE_LOGGER" level="debug">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <appender name="CONSOLE1" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>%-4r [%thread] %-5level C:%X{client} N:%X{number} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="CONSOLE_LOGGER1" level="debug">
        <appender-ref ref="CONSOLE1"/>
    </logger>

    <root level="debug">
        <appender-ref ref="ROOT"/>
    </root>
</configuration>
