<configuration>
    <!-- logger名称中含有com.gson.logback.appender且日志内容中有
    who calls thee 时，输出日志 -->
    <evaluator name="DISP_CALLER_EVAL">
        <expression>logger.contains("com.gson.logback.appender") &amp;&amp; message.contains("who calls thee")</expression>
    </evaluator>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %-4relative [%thread] %-5level - %msg%n%caller{2, DISP_CALLER_EVAL}
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>