<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--无法实施切面增强-->
    <!--<aop:aspectj-autoproxy></aop:aspectj-autoproxy>-->

    <!--可以实施切面增强-->
    <aop:aspectj-autoproxy expose-proxy="true"></aop:aspectj-autoproxy>
    <!-- component-scan要配合@Component注解 -->
    <context:component-scan base-package="com.gson.springaop"/>

    <aop:config>
        <!--定义切入点-->
        <aop:pointcut id="servicesPoint" expression="execution(public * com.gson.springaop.services.*.*(..))"/>

        <!--定义切入点的拦截器,serviceMethodInteceptor必须实现Advice接口 -->
        <aop:advisor pointcut-ref="servicesPoint" advice-ref="serviceMethodInteceptor"/>

    </aop:config>

    <aop:config>
        <aop:pointcut id="logTagPoint" expression="@annotation(com.gson.springaop.annotation.LogTag)"/>
        <aop:aspect ref="logAspect">
            <aop:after-returning method="afterReturning" returning="result" pointcut-ref="logTagPoint"/>
        </aop:aspect>
    </aop:config>



    <bean id="serviceMethodInteceptor" class="com.gson.springaop.ServiceMethodInteceptor"/>
    <bean id="logAspect" class="com.gson.springaop.LogAspect"/>
    <bean id="logService" class="com.gson.springaop.LogService"/>
</beans>